<h3 style="text-align: center">
    DashBoard Works!
</h3>

<div style="text-align: center">
  <div *ngIf="authenticated" class="col-xs-12">
    <div class="text-left col-sm-6">
      <button class="btn btn-default">Previous</button>
    </div>
    <div class="text-right col-sm-6">
      <button class="btn btn-default">Next</button>
    </div>
  </div>
  <table *ngIf="events" class="table table-hover">
    <thead>
      <tr>
        <th>ActivityId</th>
        <th>CreatedBy</th>
        <th>CreationDate</th>
        <th>End</th>
        <th>EventId</th>
        <th>IsActive</th>
        <th>Start</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let e of events; let i=index;"> 
         <td>{{e.ActivityId}}</td>
         <td>{{e.CreatedBy}}</td>
         <td>{{e.CreationDate}}</td>
         <td>{{e.End}}</td>
         <td>{{e.EventId}}</td>
         <td>{{e.IsActive}}</td>
         <td>{{e.Start}}</td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-default" (click)="printEvents()">Log Events</button>
  <button class="btn btn-default" (click)="printToken()">Log Token</button>

  <table *ngIf="events" class="table table-hover">
      <tbody *ngFor="let e of events; let i=index;">
        <tr style="background-color: dodgerblue">
          <th colspan="2" style="text-align: center">{{e.CreationDate}}</th>
        </tr>
        <tr> 
          <td>{{e.Start}}</td>
          <td>{{e.ActivityId}}</td>
        </tr>
      </tbody>

  </table>
</div>