<h3 style="text-align: center">
    DashBoard Works!
</h3>

<div style="text-align: center">
  <div *ngIf="authenticated" class="col-xs-12">
    <div class="text-left col-sm-6">
      <button (click)="prev();" class="btn btn-default">Previous</button>
    </div>
    <div class="text-right col-sm-6">
      <button (click)="next();" class="btn btn-default">Next</button>
    </div>
  </div>
  <table *ngIf="monday" class="table table-hover">
      <thead>
        <tr style="background-color: dodgerblue">
          <th colspan="3" style="text-align: center">{{monday_date}}</th>
        </tr>
      </thead>
      <tbody *ngFor="let d of monday; let i=index;">
        <tr> 
          <td>{{d.Start}}</td>
          <td>{{d.End}}</td>
          <td>{{d.ActivityId}}</td>
        </tr>
      </tbody>
  </table>
  <table *ngIf="tuesday" class="table table-hover">
      <thead>
        <tr style="background-color: dodgerblue">
          <th colspan="3" style="text-align: center">{{tuesday_date}}</th>
        </tr>
      </thead>
      <tbody *ngFor="let d of tuesday; let i=index;">
        <tr> 
          <td>{{d.Start}}</td>
          <td>{{d.End}}</td>
          <td>{{d.ActivityId}}</td>
        </tr>
      </tbody>
  </table>
  <table *ngIf="wednesday" class="table table-hover">
      <thead>
        <tr style="background-color: dodgerblue">
          <th colspan="3" style="text-align: center">{{wednesday_date}}</th>
        </tr>
      </thead>
      <tbody *ngFor="let d of wednesday; let i=index;">
        <tr> 
          <td>{{d.Start}}</td>
          <td>{{d.End}}</td>
          <td>{{d.ActivityId}}</td>
        </tr>
      </tbody>
  </table>
  <table *ngIf="thursday" class="table table-hover">
      <thead>
        <tr style="background-color: dodgerblue">
          <th colspan="3" style="text-align: center">{{thursday_date}}</th>
        </tr>
      </thead>
      <tbody *ngFor="let d of thursday; let i=index;">
        <tr> 
          <td>{{d.Start}}</td>
          <td>{{d.End}}</td>
          <td>{{d.ActivityId}}</td>
        </tr>
      </tbody>
  </table>
  <table *ngIf="friday" class="table table-hover">
      <thead>
        <tr style="background-color: dodgerblue">
          <th colspan="3" style="text-align: center">{{friday_date}}</th>
        </tr>
      </thead>
      <tbody *ngFor="let d of friday; let i=index;">
        <tr> 
          <td>{{d.Start}}</td>
          <td>{{d.End}}</td>
          <td>{{d.ActivityId}}</td>
        </tr>
      </tbody>
  </table>
  <table *ngIf="saturday" class="table table-hover">
      <thead>
        <tr style="background-color: dodgerblue">
          <th colspan="3" style="text-align: center">{{saturday_date}}</th>
        </tr>
      </thead>
      <tbody *ngFor="let d of saturday; let i=index;">
        <tr> 
          <td>{{d.Start}}</td>
          <td>{{d.End}}</td>
          <td>{{d.ActivityId}}</td>
        </tr>
      </tbody>
  </table>
  <table *ngIf="sunday" class="table table-hover">
      <thead>
        <tr style="background-color: dodgerblue">
          <th colspan="3" style="text-align: center">{{sunday_date}}</th>
        </tr>
      </thead>
      <tbody *ngFor="let d of sunday; let i=index;">
        <tr> 
          <td>{{d.Start}}</td>
          <td>{{d.End}}</td>
          <td>{{d.ActivityId}}</td>
        </tr>
      </tbody>
  </table>
  <!--<button class="btn btn-default" (click)="printEvents()">Log Events</button>-->
  <!--<button class="btn btn-default" (click)="printToken()">Log Token</button>-->
</div>